/******************************************
Application specific variables
*******************************************/

:root {
  --content: 1500px;
  --dashboard: 1600px;
  --glow: 0 0px 24px rgba(255, 255, 255, 0.05);
  --color-blue-darken: color-mix(in srgb, var(--color-blue), black 80%);
  --color-purple-darken: color-mix(in srgb, var(--color-purple), black 80%);
  --color-red-darken: color-mix(in srgb, var(--color-red), black 99%);
}

.text-gradient {
  @apply
    dark:from-aqua-100
    dark:via-purple-100
    dark:to-orange-100;
}


/******************************************
Fade things in gently
*******************************************/

[data-transition="fade-up-slow"] {
    opacity: 0;
    animation: fadeUp 5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 0.5s;
}

[data-transition="drop-in"] {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeUp 3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: calc(var(--f-delay, 0) * 0.1s);
}

@keyframes fadeUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/******************************************
Logo animation
*******************************************/

.splash .logo-prime g[class="translate-x-3"] path {
    opacity: 0;
    transform: translateY(-40px);
    animation: dropIn 0.3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    --step: 0.05s;
    --start-delay: 0.35s;
}

/* Stagger with base delay */
.splash .logo-prime g[class="translate-x-3"] path:nth-child(1) { 
    animation-delay: calc(var(--start-delay) + var(--step) * 1); 
}
.splash .logo-prime g[class="translate-x-3"] path:nth-child(2) { 
    animation-delay: calc(var(--start-delay) + var(--step) * 2); 
}
.splash .logo-prime g[class="translate-x-3"] path:nth-child(3) { 
    animation-delay: calc(var(--start-delay) + var(--step) * 3); 
}
.splash .logo-prime g[class="translate-x-3"] path:nth-child(4) { 
    animation-delay: calc(var(--start-delay) + var(--step) * 4); 
}
.splash .logo-prime g[class="translate-x-3"] path:nth-child(5) { 
    animation-delay: calc(var(--start-delay) + var(--step) * 5); 
}
.splash .logo-prime g[class="translate-x-3"] path:nth-child(6) { 
    animation-delay: calc(var(--start-delay) + var(--step) * 6); 
}
.splash .logo-prime g[class="translate-x-3"] path:nth-child(7) { 
    animation-delay: calc(var(--start-delay) + var(--step) *7); 
}

@keyframes dropIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}