@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant no-js (&:where([class="no-js"] *));

@theme {

  /* ------------------------------------ */
  /* BLUEPRINT STANDARDS */
  /* ------------------------------------ */

  /* Reset tailwind defaults */
  --color-*: initial;
  --breakpoint-*: initial;
  --font-*: initial;
  --text-*: initial;

  /* 
    The below two variables work in harmony to align page content
    and header navigation. The value always needs to be the same.

    1. Wrapper. Contains internal x-axis boundaries for page content
    2. Breakpoint header. Where the header internal padding changes 
  */
  
  --spacing-wrapper: 1800px;
  --breakpoint-header: 1800px;

  /* Standard @media width breakpoints */
  --breakpoint-xs: 360px;
  --breakpoint-sm: 580px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1360px;
  --breakpoint-2xl: 1720px;
  --breakpoint-3xl: 2200px;

  /* Primary nav specifics */
  --breakpoint-nav: 1100px; /* Where the nav changes layout to full layout */
  --breakpoint-logo: 1340px; /* Where the full logo appears */

  --color-neutral-100: #f2f3f4;
  --color-neutral-200: #e1e3e7;
  --color-neutral-300: #d0d2da;
  --color-neutral-400: #bdc1ca;
  --color-neutral-500: #a4aab7;
  --color-neutral-600: #8b93a3;
  --color-neutral-700: #5a657b;
  --color-neutral-800: #2f3541;
  --color-neutral-900: #131925;
  --color-black: #000;
  --color-white: #fff;
  --color-red-100: #ffebee;
  --color-red-900: #ad050c;
  --color-red: #e91c24;
  --color-maroon-100: #ffccdd;
  --color-maroon-900: #51011c;
  --color-maroon: #a20238;
  --color-violet-100: #e9dbff;
  --color-violet-900: #411980;
  --color-violet: #7739d9;
  --color-purple-100: #edccff;
  --color-purple-900: #200430;
  --color-purple: #470063;
  --color-blue-100: #cce3ff;
  --color-blue-900: #00408c;
  --color-blue: #086ae3;
  --color-aqua-100: #c7fdff;
  --color-aqua-900: #00737a;
  --color-aqua: #85f0f8;
  --color-green-100: #dffbe5;
  --color-green-900: #2a8346;
  --color-green: #33a85c;
  --color-yellow-100: #fff1cc;
  --color-yellow-900: #fdb90d;
  --color-yellow: #fedc86;
  --color-orange-100: #ffe4cc;
  --color-orange-900: #f55200;
  --color-orange: #fe9234;

  /* Typography - Moved from import at newer TW does not allow imports here */
  --font-sans: NexaText, "Nexa Text", "Noto Sans", ui-sans-serif, system-ui,
    sans-serif;
  --font-mono: Hack, ui-monospace, SFMono-Regular, monospace;
  --font-sc: "Noto Sans SC", "Noto Sans", NexaText, "Nexa Text", ui-sans-serif,
    system-ui, sans-serif;
  --font-jp: "Noto Sans JP", "Noto Sans", NexaText, "Nexa Text", NexaText,
    ui-sans-serif, system-ui, sans-serif;
  --font-kr: "Noto Sans KR", "Noto Sans", NexaText, "Nexa Text", NexaText,
    ui-sans-serif, system-ui, sans-serif;
  --font-mono-adjust: 0.475;
  --font-kr-adjust: 0.5;
  --font-jp-adjust: 0.5;
  --font-script-adjust: 0.55;
  --font-weight-book: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --leading-none: 1;
  --leading-tight: 1.2;
  --leading-normal: 1.4;
  --leading-relaxed: 1.625;
  --tracking-tight: -0.0185em;
  --tracking-wide: 0.0725em;
  --text-xs: clamp(0.75rem, 0.7264rem + 0.0922vw, 0.8813rem);
  --text-xs-fixed: 0.75rem;
  --text-xs--line-height: var(--leading-normal);
  --text-xs--font-weight: var(--font-weight-normal);
  --text-sm: clamp(0.875rem, 0.8475rem + 0.1075vw, 1.0281rem);
  --text-sm-fixed: 0.875rem;
  --text-sm--line-height: var(--leading-normal);
  --text-sm--font-weight: var(--font-weight-normal);
  --text-base: clamp(1rem, 0.9685rem + 0.1229vw, 1.175rem);
  --text-base--line-height: var(--leading-normal);
  --text-base--font-weight: var(--font-weight-book);
  --text-md: clamp(1.25rem, 1.2107rem + 0.1536vw, 1.4688rem);
  --text-md--line-height: var(--leading-normal);
  --text-md--font-weight: var(--font-weight-book);
  --text-lg: clamp(1.625rem, 1.5739rem + 0.1997vw, 1.9094rem);
  --text-lg--line-height: var(--leading-tight);
  --text-lg--font-weight: var(--font-weight-book);
  --text-xl: clamp(1.95rem, 1.8781rem + 0.2809vw, 2.35rem);
  --text-xl--line-height: var(--leading-tight);
  --text-xl--letter-spacing: var(--tracking-tight);
  --text-xl--font-weight: var(--font-weight-book);
  --text-2xl: clamp(2.3125rem, 2.1103rem + 0.79vw, 3.4375rem);
  --text-2xl--line-height: var(--leading-tight);
  --text-2xl--letter-spacing: var(--tracking-tight);
  --text-2xl--font-weight: var(--font-weight-book);
  --text-3xl: clamp(2.625rem, 2.3553rem + 1.0534vw, 4.125rem);
  --text-3xl--line-height: var(--leading-tight);
  --text-3xl--letter-spacing: var(--tracking-tight);
  --text-3xl--font-weight: var(--font-weight-book);
  --text-4xl: clamp(3.1875rem, 2.8336rem + 1.3825vw, 5.1563rem);
  --text-4xl--line-height: var(--leading-tight);
  --text-4xl--letter-spacing: var(--tracking-tight);
  --text-4xl--font-weight: var(--font-weight-book);
  --text-5xl: clamp(3.825rem, 3.4003rem + 1.6591vw, 6.1875rem);
  --text-5xl--line-height: var(--leading-tight);
  --text-5xl--letter-spacing: var(--tracking-tight);
  --text-5xl--font-weight: var(--font-weight-book);

}

/* Import base layers below */
@import "./core/common.css" layer(base);
@import "./core/typefaces.css" layer(base);

/* Now application specifics */
@import "./app.css" layer(base);

/* Import components below */
@import "./components/buttons.css" layer(components);
@import "./components/forms.css" layer(components);

/* Import utilities below */
@import "./utl/typesetting.css" layer(utilities);