---
// Props
const { title, headingLevel="h2", headingStyle="text-md heading", body="Our comprehensive security features and compliance programs meet rigorous industry standards. That's why we are trusted by over 5,000 global organizations to protect their equipment and data.", bodyText=true } = Astro.props;
const HeadingTag = headingLevel;
---
<section class="relative">
    <div class="space-y-3 max-w-[56ch]">
        <HeadingTag class={headingStyle}>{title}</HeadingTag>
        {bodyText && (
        <div class="space-y-6 text-pretty [&_p]:text-neutral-200 [&_p]:text-sm [&_p]:leading-relaxed">
            <p>{body}</p>
        </div>
        )}
    </div>
    <slot name="blockAfter"/>
</section>