---
// Formatters
import { safe, uppercase, lowercase, slugger } from "../utls/textFormat";

// Layouts and components
import Layout from '../layouts/basic.astro';
import Header from '../components/scaffold/headerProgress.astro';
import CardText from '../components/cards/textRadioCheck.astro';

// Assets
import BgImage from '../assets/images/bg-blocks.png';

// Props
const stage = 1;
---

<Layout 
	title="Tooling app UI"
	metaDescription="Screens for Equinix tools"
	contentAlign="justify-start"
	stage={stage}
	showStage={true}
	navigation={{ next: true, previous: true, footer: true }}
>
	<Header slot="header"/>

	<!-- Main content -->
	<div slot="content" class="space-y-16">
		<section class="space-y-3 max-w-[56ch]">
			<h1 class="text-md heading">How many cloud and SaaS providers does your organization use?</h1>
			<div class="space-y-6 text-pretty [&_p]:text-neutral-200 [&_p]:text-sm [&_p]:leading-relaxed">
				<p>Our comprehensive security features and compliance programs meet rigorous industry standards. That's why we are trusted by over 5,000 global organizations to protect their equipment and data.</p>
			</div>
		</section>
		<section class="space-y-3 max-w-[56ch]">
			<h2 class="text-xs uppercase heading text-neutral-500">Sub question here</h2>
			<div class="space-y-6 text-pretty [&_p]:text-neutral-200 [&_p]:text-sm [&_p]:leading-relaxed">
				<p>Our comprehensive security features and compliance programs meet rigorous industry standards. That's why we are trusted by over 5,000 global organizations to protect their equipment and data.</p>
			</div>
		</section>
		<section class="relative">
			<h2 class="text-xs uppercase heading text-neutral-500">Card deck overscoller</h2>
			<div class="relative flex flex-row flex-nowrap gap-4 py-6 px-8 -translate-x-8 w-[calc(100%_+_var(--spacing)_*_8)] scrollbar overflow-x-auto mask-linear-90 mask-linear-from-95% mask-linear-to-100%">
				<CardText label="1-5" />
				<CardText label="6-15" />
				<CardText label="16-30" />
				<CardText label="31-50" />
				<CardText label="50&plus;" />
			</div>
		</section>
	</div>

	<!-- Page graphic -->
	<img slot="asideGraphic"
		class="object-cover w-full mix-blend-lighten" 
		src={BgImage.src}
		alt=""
		role="presentation"
    >
</Layout>