---
// Layouts and components
import Layout from '../layouts/basic.astro';
import Header from '../components/scaffold/headerProgress.astro';
import Card from '../components/cards/imageRadioCheck.astro';
import BlockStandard from '../components/blocks/textStandard.astro';

// Assets
import BgSVG from '../assets/svg/DotMap.svg';
import US_East from "../assets/svg/map-US-east.svg";
import Europe from "../assets/svg/map-europe.svg";

// Props
const stage = 3;
const ranges = [
  { label: "US East", icon: US_East },
  { label: "US Central", icon: US_East },
  { label: "US West", icon: US_East },
  { label: "Canada", icon: US_East },
  { label: "Europe", icon: Europe },
  { label: "India", icon: US_East },
  { label: "Mexico", icon: US_East },
  { label: "Latin America", icon: US_East },
  { label: "Australia & Oceania", icon: US_East },
  { label: "Southeast Asia", icon: US_East },
];
---
<Layout 
	title="Tooling app UI"
	metaDescription="Screens for Equinix tools"
	contentAlign="justify-start"
	pageID="tool-steps"
	stage={stage}
	showStage={true}
	navigation={{ next: true, previous: true, footer: true, nextUrl: "/tool-4", prevUrl: "/tool-2" }} 
>
	<Header progress="width: 30%;" slot="header"/>

	<!-- Main content -->
	<div slot="content" class="space-y-16">
		<BlockStandard 
			title="Where are your users located?"
			body="Rank your global regions based on user concentration. Higher ranked locations factor more strongly in the final report."
		>
			<div slot="blockAfter" class="pt-12">
				<h3 id="scroller-label" class="text-xs uppercase heading text-neutral-500">Select all that apply</h3>
				<div aria-labelledby="scroller-label" class="relative flex flex-row flex-nowrap gap-4 py-6 px-8 -translate-x-8 w-[calc(100%_+_var(--spacing)_*_8)] scrollbar overflow-x-auto mask-linear-90 mask-linear-from-99% mask-linear-to-100%">
					{ranges.map((item) => (
						<Card label={item.label} icon={item.icon} />
					))}
				</div>
			</div>
		</BlockStandard>
	</div>
	
	<!-- DotMap -->
	<BgSVG slot="asideGraphic" preserveAspectRatio="xMinYMid slice" class="text-white/20 h-full opacity-50 relative"/>
	
</Layout>

<script type="module" src="/scripts/mapGlow.js"></script>