/******************************************
Common typesetting utilities 
*******************************************/

/* Weights for roles */
.heading,
.label {
   font-weight: var(--font-weight-bold);
}

/* Common weights for labels */
.label {
  line-height: var(--leading-none);
}

/* Increase weight for smaller headings */
.heading.text-xs,
.heading.text-sm,
.heading.text-reg,
.heading.text-base,
.heading.text-md {
   font-weight: var(--font-weight-extrabold);
}

/* Tighten up tracking for larger headings */
.heading[class*="xl"] {
  -webkit-font-smoothing: antialiased;
  letter-spacing: var(--tracking-tight);
}

.heading.text-4xl,
.heading.text-5xl {
  letter-spacing: var(--tracking-tight); /* <--- UPDATED */
}

/* Tracking for upper case text */
.uppercase {
  letter-spacing: var(--tracking-wide);
}

/******************************************
Common code styles
NOTE: Coloring is set in /core/common.css
*******************************************/

.code-inline {
  @apply
    p-1 
    select-all 
    rounded-xs 
    border 
    font-mono;
}

/******************************************
Advanced lists
*******************************************/

.list-incremental {
  counter-reset: list-counter;
  li {
    counter-increment: list-counter;
  }
  li:before {
    content: counter(list-counter);
    line-height: var(--leading-none);
    font-size: var(--text-xs);
    font-weight: var(--font-weight-bold);
    @apply
      flex
      p-2.5
      absolute
      start-0
      top-0
      text-center
      w-7
      h-7
      rounded-full
      border-2
      items-center
      justify-center
      font-mono
  }
}

/******************************************
Flexblocks
*******************************************/

.flexblocks {
  @apply
    [&_[data-component='utility/title-block']:has(+[data-component^='deck/'],+[data-component^='highlight'],+[data-component^='cta'])]:2xl:mb-20
    [&_[data-component='logo-wall']]:pt-3.5
    [&_[data-component*='deck/articles']]:pb-7
    [&_[data-component*='deck/metrics']]:pb-0
    [&_[data-component*='deck/metrics']]:pt-3.5;
}