---
import EQXLogo from '../../assets/svg/logo.svg';

// Props
const { progress="width: 10%;", sticky=true } = Astro.props;
---
<header
  class:list={[
    "space-y-6 pt-8 px-8 backdrop-blur-xs z-20 top-0 start-0 w-full",
    sticky && "sticky"
  ]}
>
    <div class="flex flex-row items-center justify-between">
        <div class="text-white flex flex-col justify-center overflow-clip w-[45px] md:w-[145px] -translate-y-0.5">
            <EQXLogo/>
        </div>
        <h1 class="text-xs">Cloud Connectivity Advisor</h1>
    </div>
    <div class="rounded-full bg-white/10 h-1 overflow-clip">
        <span style={progress} class="bg-aqua rounded-full block h-full"></span>
    </div>
</header>