---
import { ArrowRight, ArrowLeft } from '@lucide/astro';
const { navigation } = Astro.props;
const { next = true, previous = true, footer = true, nextUrl, prevUrl } = navigation;
---
{footer && (
 <footer class="max-w-[calc(var(--content)_+_var(--spacing)_*_12)] mx-auto fixed z-10 start-0 end-0 bottom-3 w-full px-4 md:px-8">
    <nav role="navigation" class="bg-black/50 border-2 border-white/5 backdrop-blur-sm p-3 rounded-lg flex flex-row-reverse justify-between items-center shadow-(--glow) lg:py-4 lg:px-6">

    {next && (
        <a href={navigation.nextUrl} class="button button--primary">
            <span class="button__label">Continue</span>
            <span class="button__icon">
                <ArrowRight size={16} stroke-width={2} />
            </span>
        </a>
    )}

    {previous && (
        <a href={navigation.prevUrl} class="button button--secondary button--icon-start">
            <span class="button__label">Back</span>
            <span class="button__icon">
                <ArrowLeft size={16} stroke-width={2} />
            </span>
        </a>
    )}
    </nav>
</footer>
)}